.peachy-keen {
	font-family: peachy-keen, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.museo-sans {
	font-family: museo-sans, sans-serif;
}

.museo-sans-condensed {
	font-family: museo-sans-condensed, sans-serif;
	font-style: normal;
	font-weight: 300;
}